.collections {
  margin: 1rem 0;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;
  height: 81vh;
  overflow-y: scroll;
}

.collections::-webkit-scrollbar {
  width: 0.3rem;
}

.collections::-webkit-scrollbar-thumb {
  background-color: var(--main-accent);
  border-radius: 0.3rem;
}

.collectionCard {
  background-color: rgba(61, 61, 61, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  min-height: 12rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 500ms, border-color 500ms;
}

.collectionCard:hover {
  transform: scale(102%);
  backdrop-filter: blur(12px);
  border-color: var(--main-accent-20);
}

.collectionCard > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collectionColor {
  background-color: blue;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@media (max-width: 1632px) {
  .collections {
    height: 41rem;
  }
}

@media (max-width: 651px) {
  .collections {
    height: 40rem;
  }
}
