@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.8em;
  text-decoration: none;
}

:root {
  --main-background-color: #ffffff0d;
  --main-color: #25c28e;
  --main-color-deeper: #1da377;
}

.mobile-nav {
  display: none;
}

#login {
  background-color: transparent;
  border: none;
}

#header {
  background-color: #ffffff0d;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(55px);
  height: 4.25em;
  position: sticky;
  width: 100%;
  top: 0px;
  display: grid;
}

.container {
  width: 95%;
  margin: 0 auto;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-button {
  display: none;
}

#header-container > nav > #signup {
  margin-left: 2em;
  color: #333;
  padding: 0.5em 1.5em;
  border-radius: 1.25em;
  border: none;
  background-color: var(--main-color);
}

.showcase {
  width: 100%;
  height: 100%;
}

.showcase-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10em 0;
  padding: 3em;
  text-align: center;
}

.showcase-item:last-child {
  margin-bottom: 3em;
}

.showcase-item > img,
.showcase-item > div {
  width: 40%;
}

.showcase-item > div > h3 > span,
.showcase-item > div > p > span,
.highlight {
  padding: 0.1em 0.3em;
  background-color: var(--main-color);
  border-radius: 0.7em;
}

.intro > .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.intro * {
  margin: 1em 0 3em 0;
}

.intro button {
  width: 170px;
  height: 50px;
  font-size: medium;
  color: #333;
  border-radius: 3.75em;
  border: none;
  background-color: var(--main-color);
}

/* Forms */

.auth-form {
  background-color: #333;
  position: fixed;
  left: 7%;
  right: 7%;
  top: 25%;
  max-height: 28em;
  max-width: 25em;
  margin: 0 auto;
  box-shadow: 0.2em 0.2em 1em #222;
  border-radius: 0.5em;
  display: none;
  z-index: 1;
}

#login-form {
  max-height: 23em;
}

.showform {
  display: block;
}

.auth-form > h3 {
  margin: 2em 0;
  text-align: center;
  font-weight: bolder;
}

.auth-form > div {
  width: 90%;
  height: 3em;
  margin: 0 auto 2em auto;
  position: relative;
}

.formlabel {
  position: absolute;
  top: 0.6em;
  left: 1em;
  background-color: #333;
  transition: transform 1s;
  padding: 0 0.6em;
}

input:focus ~ .formlabel {
  transform: translateY(-1.4em) translateX(-0.5em);
  border-right: 1px solid var(--main-color-deeper);
  border-left: 1px solid var(--main-color-deeper);
}

input,
input:focus {
  border: bone;
  outline: none;
}

.auth-form > div > input {
  width: 100%;
  height: 100%;
  border: solid var(--main-color) 0.1em;
  border-radius: 0.8em;
  background-color: inherit;
  text-indent: 1em;
  position: relative;
}

.submit-btn {
  background-color: var(--main-color);
  padding: 0.6em 0.8em;
  border-radius: 0.8em;
  border: none;
  color: #333;
}

.submit-btn:active,
#header-container > nav > #signup:active,
.intro button:active {
  background-color: var(--main-color-deeper);
}

.submit-div {
  width: 100%;
  padding-right: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.submit-div > small > span {
  color: var(--main-color-deeper);
  cursor: pointer;
}

footer {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  height: 4.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
