:root {
  --main-background-color: #ffffff0d;
  --main-color: #25c28e;
  --main-color-deeper: #1da377;
}

@media (max-width: 614px) {
  #nav {
    display: none;
  }

  #nav-button {
    width: fit-content;
    height: fit-content;
    display: block;
  }

  .nav-dash {
    height: 0.2rem;
    width: 1.8rem;
    background-color: white;
    transition: transform 1s;
  }

  .nav-dash:nth-child(1) {
    transform: translateY(-0.4em);
  }
  .nav-dash:nth-child(3) {
    transform: translateY(0.4em);
  }

  .open-nav {
    .nav-dash:nth-child(1) {
      transform: rotate(45deg) translateX(-0.1em) translateY(0.4em);
    }
    .nav-dash:nth-child(3) {
      transform: rotate(-45deg) translateX(-0.1em) translateY(-0.4em);
    }
    .nav-dash:nth-child(2) {
      visibility: hidden;
    }
  }

  .show {
    display: block;
  }

  .mobile-nav {
    height: fit-content;
    padding: 1.2em;
    position: fixed;
    left: 1em;
    right: 1em;
    margin: auto;
    background-color: #ffffff0d;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(55px);
    margin-top: 0.4em;
    z-index: 2;
  }

  .mobile-nav > nav {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav > nav > button {
    background-color: transparent;
    border: none;
  }
}

@media (max-width: 768px) {
  .showcase-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 2.5em 0 0 0;
  }

  .showcase-item:nth-child(2) {
    flex-direction: column;
  }

  .showcase-item:last-child {
    margin-bottom: 3em;
  }

  .showcase-item > img {
    margin-bottom: 2.5em;
  }

  .showcase-item > img,
  .showcase-item > div {
    width: 95%;
  }

  .side-panel {
    display: none;
  }

  #preview-btn {
    display: flex;
    width: 9em;
    padding: 0 1em;
    font-size: medium;
    background-color: #222;
    border-radius: 0.6em;
    justify-content: space-between;
    align-items: center;
    margin: 1.3em 0 0 1.3em;
  }

  .mobile-side-panel {
    background-color: #000000dc;
    width: 20em;
    height: 100vh;
    position: fixed;
    top: 4.3em;
    transition: all 1s;
    left: -100%;
  }

  .mobile-side-panel > div {
    background-color: var(--main-color);
    width: 90%;
    margin: 1.5em auto;
    height: 3em;
    max-height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.85em;
  }

  #side-panel-close {
    font-size: 2em;
    background-color: #222;
    max-height: 1em;
    width: 1em;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em auto 0 auto;
  }

  .hide-preview-btn {
    visibility: hidden;
  }

  #side-panel-close:active,
  #preview-btn:active {
    background-color: #333;
  }

  .show-mobile-side-panel {
    left: 0px;
  }

  .remove-mobile-side-panel {
    left: -100%;
  }
}
