.homeBody {
  padding: 0 0.25rem;
  margin-bottom: 3rem;
}

.dashboard {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.dashboard > * {
  font-size: 15px;
}

.dashboardBody {
  display: flex;
  flex-direction: row;
}

.dashboardMain {
  padding: 2rem 0.8rem;
  width: 100%;
}

.createCollections {
  background-color: var(--main-accent);
  padding: 0.8rem 0.7rem;
  border-radius: 7px;
  cursor: default;
}

.sideBarTriggerContainer {
  display: none;
}

.mobileSideBarContainer {
  display: none;
}

@media (max-width: 651px) {
  .mobileSideBarContainer {
    display: block;
  }
}

@media (min-width: 578px) {
  .homeBody {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .homeBody {
    padding: 0 2rem;
  }
}

@media (min-width: 1024) {
  .homeBody {
    padding: 0 4rem;
  }
}

@media (max-width: 651px) {
  .sideBarTriggerContainer {
    display: flex;
    margin-top: 1rem;
    width: fit-content;
    padding: 1px;
    border: 1px solid rgb(61, 60, 60);
    border-radius: 7px;
    margin-left: 1rem;
  }
}
