.homeBody {
  padding: 0 0.25rem;
  margin-bottom: 3rem;
}

.dashboard {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.dashboard > * {
  font-size: 15px;
}

.dashboardBody {
  display: flex;
  flex-direction: row;
}

.dashboardMain {
  padding: 2rem 0.8rem;
  width: 100%;
}

.dashboardMain > div:first-child {
  margin: 0.5rem 0 0 0.8rem;
}

.sideBarTriggerContainer {
  display: none;
}

.mobileSideBarContainer {
  display: none;
}

@media (max-width: 659px) {
  .dashboardMain {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 578px) {
  .homeBody {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .homeBody {
    padding: 0 2rem;
  }
}

@media (min-width: 1024) {
  .homeBody {
    padding: 0 4rem;
  }
}

@media (max-width: 359px) {
  .dashboardMain {
    padding: 2rem 0px;
  }

  .dashboardMain > div:first-child {
    margin: 0 0 0 0.8rem;
  }
}
