@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}

:root {
  --danger: rgb(233, 42, 42);
  --danger-active: rgba(255, 23, 23, 0.747);
  --main-accent: #5a9a38;
  --main-accent-20: rgba(90, 154, 56, 0.2);
  --main-accent-40: rgba(90, 154, 56, 0.4);
  --main-accent-50: rgba(90, 154, 56, 0.5);
  --main-accent-60: rgba(90, 154, 56, 0.6);
  --main-form-accent: rgb(40, 41, 40);
  --golden-ratio-border-radius: 0.2375rem;
  --golden-input-padding-x: 0.6rem;
  --golden-input-padding-y: 0.2rem; /*y padding for input*/
  --golden-input-margin-y: 1.5rem;
}

html,
body,
#root {
  min-height: 100dvh;
  max-width: 100dvw;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  padding: 2rem;
}

img {
  max-width: 100%;
  display: inline;
}

.modal,
.plain-modal {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.664);
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  color: transparent;
}

.form input {
  background-color: inherit;
  outline: none;
  border-radius: var(--golden-ratio-border-radius);
  padding: var(--golden-input-padding-x) 0;
  text-indent: 0.5rem;
  border: var(--main-accent-20) solid 1px;
  width: 100%;
  margin-top: 1.5rem;
}

.form div {
  margin: auto;
  position: relative;
}

.form div label {
  font-size: 0.8rem;
  position: absolute;
  top: 2rem;
  left: 0.4rem;
  background-color: var(--main-form-accent);
  padding: 0 0.5rem;
  transition: 300ms all ease-in-out;
}

.form div:has(input:not(:placeholder-shown)) label,
.form div:has(input:focus) label {
  top: 0.7rem;
  left: 0.3;
  color: var(--main-accent);
}

.action-buttons-container {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.8rem;
  padding-top: var(--golden-input-margin-y);
}

.auth-tab {
  max-width: 23.125rem;
  width: 20.975rem;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  background-color: var(--main-form-accent);
  border-radius: var(--golden-ratio-border-radius);
  padding: 1rem;
}

.auth-header {
  width: 100%;
  margin-bottom: 0.3rem;
}

.tab {
  display: flex;
}

.auth-tab-option {
  appearance: none;
}

.tab-content {
  order: 1;
  width: 100%;
  display: none;
  line-height: 2;
}

.tab-content.active {
  display: block;
}

.tab-label {
  cursor: default;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0.8rem 0.5rem 0;
  border-radius: var(--golden-ratio-border-radius);
  transition: all ease-in-out 500ms;
  list-style: none;
}

.tab-label.active {
  background-color: rgba(0, 0, 0, 0.281);
}

.spinner {
  margin-top: 0.3rem;
  width: 2.8rem;
  height: 0.75rem;
  animation: spin 0.45s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* For tasks and other /dashboard operations */
.instance-action {
  margin: 0.8rem 0 0.8rem 1rem;
}

@media (max-width: 662px) {
  .instance-action {
    font-size: 0.9rem;
  }
}

.create-action {
  background-color: var(--main-accent);
  padding: 0.6rem 0.7rem;
  border-radius: 7px;
  cursor: default;
}

.create-action:active {
  background-color: rgba(118, 221, 59, 0.822);
}

.back-button {
  padding: 0.2rem 0.4rem 0.2rem 0.2rem;
  border-radius: 0.3rem;
  background-color: rgb(53, 53, 53);
}

.back-button:active {
  background-color: rgba(53, 53, 53, 0.884);
}

.dashboard-contents-container {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;

  max-height: 83vh;
  overflow-y: auto;
}

.dashboard-contents-container::-webkit-scrollbar {
  width: 0.3rem;
}

.dashboard-contents-container::-webkit-scrollbar-thumb {
  background-color: var(--main-accent);
  border-radius: 0.3rem;
}

/* For Collection cards and Exam counter cards */

.collection-card,
.exam-counter-card {
  background-color: rgba(61, 61, 61, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  min-height: 10rem;
  max-height: 11rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;

  transition: transform 500ms, border-color 500ms;
}

.exam-counter-card {
  gap: 1rem;
  max-height: 13rem;
}

.collection-card:hover,
.exam-counter-card:hover {
  transform: scale(102%);
  backdrop-filter: blur(12px);
  border-color: var(--main-accent-20);
}

.collection-card > div:first-child,
.exam-counter-card > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exam-counter-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.expired-counter {
  text-decoration: line-through;
  color: grey;
}

.options {
  width: fit-content;
  height: fit-content;
  padding: 0.3rem 0.5rem;
  position: absolute;
  right: 2.3rem;
  top: 0.5rem;
  background-color: rgba(34, 33, 33, 0.89);
  cursor: default;
  box-shadow: 1px 1px 1px black;
}

.options > p {
  font-size: 0.65rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.2rem 0;
}

.options > p:hover {
  color: var(--main-accent);
}
.options > p:active {
  color: var(--main-accent-50);
}

.options > .delete-option {
  color: var(--danger);
}

.options > .delete-option:hover,
.options > .delete-option:active {
  color: var(--danger-active);
}

.collection-form,
.exam-counter-form,
.task-form {
  background-color: var(--main-form-accent);
  padding: 1rem 0.9rem;
  border-radius: var(--golden-ratio-border-radius);
}

.form-header {
  width: 100%;
  padding-bottom: 1rem;
}

form .color {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
  width: 100%;
}

.exam-counter-form > .color {
  margin-top: 0.98rem;
}

.form .color > * {
  padding: 0;
  margin: 0;
}

form .color > label {
  position: static;
  width: fit-content;
  background: inherit;
}

form .color > input {
  width: 3.5rem;
  height: 1.5rem;
}
