<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="{{ url_for('static', filename='js/ui.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='mediaqueries.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='animations.css') }}">
  <title>Task man</title>
</head>
<body>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <header id="header">
    <div class="container" id="header-container">
      <a href="#">
        <img src="{{ url_for('static', filename='img/taskman-light.svg') }}" width="200" alt="">
      </a>
      <nav id="nav">
        <button id="login">Log in</button>
        <button id="signup">Sign up</button>
      </nav>

      <div id="nav-button">
        <div class="nav-dash"></div>
        <div class="nav-dash"></div>
        <div class="nav-dash"></div>
      </div>
    </div>
  </header>
  <div class="mobile-nav">
    <nav>
      <button id="login">Log in</button>
      <button id="signup">Sign in</button>
    </nav>
  </div>

  {% block content %} {% endblock %}
</body>
</html>