<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="{{ url_for('static', filename='js/ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='mediaqueries.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='animations.css') }}">
  <title>Task man</title>
</head>
<body>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <header id="header">
    <div class="container" id="header-container">
      <a href="#">
        <img src="{{ url_for('static', filename='img/taskman-light.svg') }}" width="200" alt="">
      </a>
      <nav id="nav">
        {% if user.is_authenticated %}
          <button class="auth-nav-items" id="home"><a href="/">Home</a></button>
          <button class="auth-nav-items" id="dashboard"><a href="/dashboard">Dashboard</a></button>
          <button class="auth-nav-items" id="logout"><a href="/logout">Log out</a></button>
          <button class="auth-nav-items" id="delete-account">Delete account</button>
        {% else %}
          <button id="login">Log in</button>
          <button id="signup">Sign in</button>
        {% endif %}
      </nav>

      <div id="nav-button">
        <div class="nav-dash"></div>
        <div class="nav-dash"></div>
        <div class="nav-dash"></div>
      </div>
    </div>
  </header>
  <div class="mobile-nav">
    <nav>
      {% if user.is_authenticated %}
      <button id="home"><a href="/">Home</a></button>
      <button id="dashboard"><a href="/dashboard">Dashboard</a></button>
        <button id="logout"><a href="/logout">Log out</a></button>
        <button id="delete-account">Delete account</button>
      {% else %}
        <button id="login">Log in</button>
        <button id="signup">Sign in</button>
      {% endif %}
    </nav>
  </div>



  <!-- Confirmation Pop-up -->
  <div id="confirmationPopup" class="popup">
    <div class="popup-content">
      <p>Confirm you want to delete your account</p>
      <button id="confirm-button" onclick="deleteAccount('{{ user.id }}')">Confirm</button>
      <button id="cancel-button">Cancel</button>
    </div>
  </div>



  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert">
        {% for category, message in messages %}
          {% if category == "success" %}
            <div class="alert-success">
              <h1 class="alert-title">{{ category + "!" }}</h1>
              <p class="alert-content">{{ message }}</p>
            </div>
          {% endif %}
          {% if category == "error" %}
            <div class="alert-danger">
              <h1 class="alert-title">{{ category + "!" }}</h1>
              <p class="alert-content">{{ message }}</p>
            </div>
          {% endif %}
          {% if category == "warning" %}
            <div class="alert-warning">
              <h1 class="alert-title">{{ category + "!" }}</h1>
              <p class="alert-content">{{ message }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

{% block content %} {% endblock %}
