{% extends "base.html" %}

  {% block content %}

  <div class="showcase">
    <div class="container">
      <div class="showcase-item">
        <div class="item-child">
          <h3 class="showcase-heading">Accept and plan your <span class="highlight">Tasks</span> ~</h3>
          <p><span class="highlight">Taskman</span> helps you plan your task quick and with ease</p>
        </div>
        <img class="item-child" src="{{ url_for('static', filename='undraw/undraw-accept-tasks.svg') }}" alt="">
      </div>
      <div class="showcase-item">
        <img class="item-child" src="{{ url_for('static', filename='undraw/undraw-progress.svg') }}" alt="">
        <div class="item-child">
          <h3 class="showcase-heading">Track your progress on each <span class="highlight">Task</span> ~</h3>
          <p>With <span class="highlight">Taskman</span> you not only plan your Tasks, but
            you can also track your progress on each task</p>
        </div>
      </div>
      <div class="showcase-item">
        <div class="item-child">
          <h3 class="showcase-heading">Mark <span class="highlight">Task</span> as complete ~</h3>
          <p>With <span class="highlight">Taskman</span> you can mark task as complete upon completion.</p>
        </div>
        <img class="item-child" src="{{ url_for('static', filename='undraw/undraw-task-complete.svg') }}" alt="">
      </div>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <div class="item-child">
        <h2>Let <span class="highlight">Taskman</span> Help you</h2>
        <p>Track and manage your tasks and goals at ease with <span class="highlight">Taskman</span></p>
        <button>Get started</button>
      </div>
    </div>
  </div>
  <footer>
    <small>Made with ❤️ by <a href="https://github.com/victorchiaka">Victor Chiaka</a></small>
  </footer>
  
  {% endblock %}
