{% extends "base.html" %}

  {% block content %}

  <div class="form-container">
    <form class="auth-form" id="signup-form">
      <h3>Sign in ~</h3>
      <div>
        <input id="username" type="text" required />
        <label for="username" class="formlabel">
          username
        </label>
      </div>
      <div>
        <input id="email" type="email" required />
        <label for="email" class="formlabel">
          email
        </label>
      </div>
      <div>
        <input id="password" type="password" required />
        <label for="password" class="formlabel">
          password
        </label>
      </div>
      <div class="submit-div">
        <button id="create-account-btn" class="submit-btn">Create your account</button>
        <small>Own an account? <a href="{{ url_for('auth.login' )}}">Login</a></small>
      </div>
      <div>
      </div>
    </form>
  </div>
  
  <div class="form-container">
    <form class="auth-form" id="login-form">
      <h3>Log in ~</h3>
      <div>
        <input id="email" type="email" required />
        <label for="email" class="formlabel">
          email
        </label>
      </div>
      <div>
        <input id="password" type="password" required />
        <label for="password" class="formlabel">
          password
        </label>
      </div>
      <div class="submit-div">
        <button id="login-btn" class="submit-btn">Log in</button>
        <small>Dont have an account yet? <a href="{{ url_for('auth.signin') }}">Sing up</a></small>
      </div>
      <div>
      </div>
    </form>
  </div>

  <div class="showcase">
    <div class="container">
      <div class="showcase-item">
        <div class="item-child">
          <h3 class="showcase-heading">Accept and plan your <span class="highlight">Tasks</span> ~</h3>
          <p><span class="highlight">Taskman</span> helps you plan your task quick and with ease</p>
        </div>
        <img class="item-child" src="{{ url_for('static', filename='undraw/undraw-accept-tasks.svg') }}" alt="">
      </div>
      <div class="showcase-item">
        <img class="item-child" src="{{ url_for('static', filename='undraw/undraw-progress.svg') }}" alt="">
        <div class="item-child">
          <h3 class="showcase-heading">Track your progress on each <span class="highlight">Task</span> ~</h3>
          <p>With <span class="highlight">Taskman</span> you not only plan your Tasks, but
            you can also track your progress on each task</p>
        </div>
      </div>
      <div class="showcase-item">
        <div class="item-child">
          <h3 class="showcase-heading">Mark <span class="highlight">Task</span> as complete ~</h3>
          <p>With <span class="highlight">Taskman</span> you can mark task as complete upon completion.</p>
        </div>
        <img class="item-child" src="{{ url_for('static', filename='undraw/undraw-task-complete.svg') }}" alt="">
      </div>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <div class="item-child">
        <h2>Let <span class="highlight">Taskman</span> Help you</h2>
        <p>Track and manage your tasks and goals at ease with <span class="highlight">Taskman</span></p>
        <button>Get started</button>
      </div>
    </div>
  </div>
  <footer>
    <small>Made with ❤️ by <a href="https://github.com/victorchiaka">Victor Chiaka</a></small>
  </footer>
  
  {% endblock %}
